<?xml version="1.0" encoding="utf-8" ?>
<config>
  <RegisterClientBaseAddress>http://handycrab.nico-dreher.de/rest/users/register</RegisterClientBaseAddress>
  <LoginClientBaseAddress>http://handycrab.nico-dreher.de/rest/users/login</LoginClientBaseAddress>
  <LogoutClientBaseAddress>http://handycrab.nico-dreher.de/rest/logout</LogoutClientBaseAddress>
</config>