<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!--Note: All links are http. If the backend supports https it is considered the duty of the backend to set up https-redirection.-->
  <RegisterClientBaseAddress>http://handycrab.nico-dreher.de/rest/users/register</RegisterClientBaseAddress>
  <LoginClientBaseAddress>http://handycrab.nico-dreher.de/rest/users/login</LoginClientBaseAddress>
  <LogoutClientBaseAddress>http://handycrab.nico-dreher.de/rest/logout</LogoutClientBaseAddress>
  <BarrierClientBaseAddressGet>http://handycrab.nico-dreher.de/rest/barriers/get</BarrierClientBaseAddressGet>
  <BarrierClientBaseAddressAdd>http://handycrab.nico-dreher.de/rest/barriers/add</BarrierClientBaseAddressAdd>
  <BarrierClientBaseAddressModify>http://handycrab.nico-dreher.de/rest/barriers/modify</BarrierClientBaseAddressModify>
  <BarrierClientBaseAddressAddSolution>http://handycrab.nico-dreher.de/rest/barriers/solution</BarrierClientBaseAddressAddSolution>
  <BarrierClientBaseAddressVote>http://handycrab.nico-dreher.de/rest/barriers/vote</BarrierClientBaseAddressVote>
  <BarrierClientBaseAddressSolutionVote>http://handycrab.nico-dreher.de/rest/barriers/solutions/vote</BarrierClientBaseAddressSolutionVote>
</config>