<?xml version="1.0" encoding="utf-8" ?>
<config>
  <RegisterClientBaseAddress>https://handycrab.nico-dreher.de/rest/users/register</RegisterClientBaseAddress>
  <LoginClientBaseAddress>https://handycrab.nico-dreher.de/rest/users/login</LoginClientBaseAddress>
  <LogoutClientBaseAddress>https://handycrab.nico-dreher.de/rest/logout</LogoutClientBaseAddress>
  <BarrierClientBaseAddressGet>https://handycrab.nico-dreher.de/rest/barriers/get</BarrierClientBaseAddressGet>
  <BarrierClientBaseAddressAdd>https://handycrab.nico-dreher.de/rest/barriers/add</BarrierClientBaseAddressAdd>
  <BarrierClientBaseAddressModify>https://handycrab.nico-dreher.de/rest/barriers/modify</BarrierClientBaseAddressModify>
  <BarrierClientBaseAddressAddSolution>https://handycrab.nico-dreher.de/rest/barriers/solution</BarrierClientBaseAddressAddSolution>
  <BarrierClientBaseAddressVote>https://handycrab.nico-dreher.de/rest/barriers/vote</BarrierClientBaseAddressVote>
  <BarrierClientBaseAddressSolutionVote>https://handycrab.nico-dreher.de/rest/barriers/solutions/vote</BarrierClientBaseAddressSolutionVote>
</config>